body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vh;
    width: 100%;
    padding: 80px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
}

.iconos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.dropdown {
    margin-top:8px;
}

.MiNombre {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 30px;
    width: 300px;
    text-align: center;
}

.perfil {
    display: block;
    flex-direction: column;
    align-items: center;
    margin-top: 75px;
}

.columnas1, .columnas2{
    padding-bottom: 50px;
    display: flex;
    justify-content: left;
}

.columnas2 {
    padding-right: 10px;
    margin-bottom: 200px;
}

.columna1 {
    padding: 20px;
    animation: fadein 2.5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

.columna2 {
    padding: 20px;
    margin-left: 50px;
    animation: fadein 3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.columna3 {
    padding: 20px;
    margin-right: 70px;
    animation: fadein 3.5s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.columna4 {
    padding: 20px;
    animation: fadein 4s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.columna5 {
    padding: 20px;
    margin-bottom: 50px;
    margin-top: 20px;
    animation: fadein 2s;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.Estudios, .Hobbies, .Lenguajes, .Idiomas, .SobreMi {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline ;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    position: fixed;
    bottom: 0;
}

@keyframes fadein {
    0% {
        opacity:0;
    }
    50%{
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

